// Body
$body-bg: #392759;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$app-bg: #392759;
$theme-colors: (
  "primary": #6874E8,
  "danger": #ff4136
);
